In [25]:
import pandas as pd

df = pd.read_excel("../pdf/Material_Case_Ex3.xlsx", sheet_name="EZMtp")

df = df.drop(columns=df.columns[:3])
df = df.drop(index=[1, 2])
df.columns = df.iloc[0]
df = df.iloc[1:].reset_index(drop=True)

df.head(10)

,#sys_loc_code,"measurement_date (""DD/MM/AA HH:MM"")",NaN,measurement_method,remark,Temp C,Cond elet (uS/cm),OD (mg/l),pH (-),ORP (mV),Turb (NTU),Resp coleta (-),Cond clim (-)
0,M08_44077,2023-12-27 00:00:00,09:41:00,Coleta de água sup.,Sonda X,21,10000,4.1,7,100,10,Arcadis,NB
1,PU07_45262,2023-12-27 00:00:00,09:58:00,Coleta de água sup.,Sonda X,22,10001,4.2,7,101,11,Arcadis,NB
2,"PU7,5_45262",2023-12-27 00:00:00,10:10:00,Coleta de água sup.,Sonda X,23,10002,4.3,7,102,12,Arcadis,NB
3,"M8,5_45276",2023-12-27 00:00:00,10:21:00,Coleta de água sup.,Sonda X,24,10003,4.4,7,103,13,Arcadis,NB
4,"PT8,5_45276",2023-12-27 00:00:00,10:34:00,Coleta de água sup.,Sonda X,25,10004,4.5,7,104,14,Arcadis,NB
5,"PT9,5_45276",2023-12-27 00:00:00,10:43:00,Coleta de água sup.,Sonda X,26,10005,4.6,7,105,15,Arcadis,NB
6,PU9_45262,2023-12-27 00:00:00,10:57:00,Coleta de água sup.,Sonda X,27,10006,4.7,7,106,16,Arcadis,NB
7,M08_44077,2023-12-27 00:00:00,08:51:00,Coleta de água sup.,Sonda X,28,10007,4.8,7,107,17,Arcadis,SN
8,PU07_45262,2023-12-27 00:00:00,09:07:00,Coleta de água sup.,Sonda X,29,10008,4.9,7,108,18,Arcadis,SN
9,"PU7,5_45262",2023-12-27 00:00:00,09:21:00,Coleta de água sup.,Sonda X,30,10009,5,7,109,19,Arcadis,SN